.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

a:link, a:visited {
  color: white;
}

ul {
  padding-left: 5px;
}

div.tree {
  left: 0;
  position: absolute;
}

.rstm-toggle-icon{
  display:inline-block
}
.rstm-toggle-icon-symbol{
  width:2rem;
  height:2rem;
  text-align:center;
  line-height:2rem
}
.rstm-tree-item-group{
  list-style-type:none;
  padding-left:0;
  border-top:1px solid #ccc;
  text-align:left;
  width:100%
}
.rstm-tree-item{
  padding:0.75rem 1rem;
  cursor:pointer;
  color:white;
  background:none;
  border-bottom:1px solid #ccc;
  box-shadow:none;
  z-index:unset;
  position:relative
}
.rstm-tree-item--active{
  color:white;
  background:#179ed3;
  border-bottom:none
}
.rstm-tree-item--focused{
  box-shadow:0 0 5px 0 #222;
  z-index:999
}
.rstm-search{
  padding:1rem 1.5rem;
  border:none;
  width:100%
}
